@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Roboto+Slab:wght@400;700&family=Space+Mono:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --color-background: #1E213F;
  --color-red: #F87070;
  --color-cyan: #70F3F8;
  --color-purple: #D881F8;
  --color-white: #FFFFFF;
  --color-gray: #EFF1FA;
  --color-navy: #161932;
  --color-lilac: #D7E0FF;

  --font-kumbh: "Kumbh Sans", sans-serif;
  --font-roboto: "Roboto Slab", serif;
  --font-mono: "Space Mono", monospace;
}

